apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pss-server
  namespace: pss
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    traefik.ingress.kubernetes.io/router.middlewares: pss-redirect-https@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ game_domain }}
      secretName: pss-tls
  rules:
    - host: {{ game_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: pss-server
                port:
                  number: 80
